h1.title {
    text-align: center;
    font-variant: small-caps;
}

li.gravatar, li.gravatar a {
    border: 0px;
    text-align: center;
}

li.gravatar img {
    webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#authors {
    margin-bottom: 20px;
}

li.gh-authors {
    text-align: center;

}

.back {
    margin-top: 50px;
    margin-bottom: 50px;
}

img.rss, img.rss a, a.rss {
    border: 0px;
    margin-left: 5px;
}

img.r-icon {
    width: 20px;
    height: auto;
    webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    margin-right: 4px;
}

img.m-icon {
    width: 20px;
    height: auto;
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 4px;
}

img.r-icon {
    width: 20px;
    height: auto;
    webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    margin-right: 4px;
}

#admin-logout {
    position: absolute;
    right: 10px;
    top: 0px;
}