<!doctype html>
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/_normalize.css') }}" type="text/css" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/posts.css') }}" type="text/css" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/s-mb.css') }}" type="text/css" media="screen" rel="stylesheet">
    {% if author %}
        <link href="{{ url_for('get_author_feed', author=author.username) }}" rel="alternate" title="RSS" type="application/rss+xml" />
    {% else %}
        <link href="{{ url_for('feed') }}" rel="alternate" title="RSS" type="application/rss+xml" />
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
    <link href="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css" rel="stylesheet" type="text/css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js" type="text/javascript"></script>
</head>

<body onload="prettyPrint()">
<header>
    <h1 class="title">
        {% if author %}
            <a href="{{ url_for('get_author_posts', author=author.username) }}">
                {{ author.username }}
            </a>
            <a class="rss" href="{{ url_for('get_author_feed', author=author.username) }}"><img class="rss" src="{{ url_for('static', filename='img/glyphicons_397_rss.png') }}" height="18" width="18" /></a>
        {% else %}
            <a href="{{ url_for('index') }}">
                {{ config.BLOG_NAME }}
            </a>
            <a class="rss" href="{{ url_for('feed') }}"><img class="rss" src="{{ url_for('static', filename='img/glyphicons_397_rss.png') }}" height="18" width="18" /></a>
        {% endif %}
    </h1>
    <ul>
        {% if author %}
            {% if author.gravatar_url %}
                <li class="gravatar"><a href="{{ url_for('get_author_posts', author=author.username) }}"><img src="{{ author.gravatar_url }}" /></a></li>
                <br />
            {% endif %}
            {% if author.github %}
                <li><img src="{{ url_for('static', filename='img/glyphicons_381_github.png') }}" height="12" width="12" />&nbsp;<a href="https://github.com/{{ author.github }}/">Github</a></li>
            {% endif %}
            {% if author.email %}
                <li><img src="{{ url_for('static', filename='img/glyphicons_010_envelope.png') }}" height="12" width="12" />&nbsp;<a href="mailto:{{ author.email }}?subject:Howdy">Email me</a></li>
            {% endif %}
        {% elif authors %}
            {% for author in authors %}
                <div id="authors">
                    {% if author.gravatar_url %}
                        <li class="gravatar"><a href="{{ url_for('get_author_posts', author=author.username) }}"><img src="{{ author.gravatar_url }}" /></a></li>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        {% block sidebar %}{% endblock %}
    </ul>
    <span class="powered-by">
      Backed by <a href="http://github.com/bitrot/simple-multiblog">Simple-Multiblog</a><br />
        Based off of <a href="http://github.com/orf/simple">Simple</a>,
          inspired by <a href="https://github.com/NateW/obtvse">Obtvse</a>
    </span>

</header>

<div id="container">
    <time>
        <a href="{{ url_for('index') }}">{{ config.BLOG_NAME }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;

        {% if post %}
            Posted {{ post.created_at.strftime('%B %d, %Y') }} by {{ post.author.username }}
            {% if post.created_at.strftime('%B %d, %Y') != post.updated_at.strftime('%B %d, %Y') %}
                - Updated {{ post.updated_at.strftime('%B %d, %Y') }}
            {% endif %}
            {% if 'user_name' in session %}
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('admin') }}">Logged in</a> {{ session['user_name'] }}
                &nbsp;(<a href="{{ url_for('logout') }}">Logout</a>)
            {% endif %}
        {% else %}
            {{ now.strftime('%B %d, %Y') }}
            {% if 'user_name' in session %}
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('admin') }}">Logged in</a> {{ session['user_name'] }}
                &nbsp;(<a href="{{ url_for('logout') }}">Logout</a>)
            {% endif %}
        {% endif %}
    </time>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

{% if config['ANALYTICS_ID'] %}
    <!-- Google Analytics -->
    <script>
        var _gaq=[['_setAccount','{{ config["ANALYTICS_ID"] }}'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endif %}

</body>
</html>