<!doctype html>
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/_normalize.css') }}" type="text/css" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/posts.css') }}" type="text/css" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/s-mb.css') }}" type="text/css" media="screen" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/monokai.css') }}" type="text/css"  media="screen" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,900" type="text/css" media="screen" rel="stylesheet">

    {% if author %}
        <link href="{{ url_for('get_author_feed', author=author.username) }}" rel="alternate" title="RSS" type="application/rss+xml" />
    {% else %}
        <link href="{{ url_for('feed') }}" rel="alternate" title="RSS" type="application/rss+xml" />
    {% endif %}

    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}" type="text/javascript"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

{% if config['IDL'] %}
    {# BEGIN INTERNET DEFENSE LEAGUE SCRIPT #}
    <script type="text/javascript"> var CloudFlare = CloudFlare || []; </script>
    <script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/cloudflare.js" async></script>
    <script type="text/javascript">
        var censorshipConfig = {
            "twitterHandle" : "", // Your Twitter handle; if not provided, your website domain will be used.
            "position_x" : "right", // Badge position - right or left
            "selector" : "p, h1, .censor_me", // Optional selector for elements to censor. Remove for default.
            "regex" : ".{5}", //In case you like Regexes, and want to change the logic for how to black out text.
            "persistent" : false //Make this true if you want the bars to appear on every page view, and not fade away when the box pops up.
        }
        var a=window.CloudFlare;a.push({paths:{stop_censorship:"//ajax.cloudflare.com/cdn-cgi/nexp/apps/"}});a.push(function(b,c){c("stop_censorship/config",function(){return censorshipConfig});b(["stop_censorship"])});
    </script>
    {# END #}
{% endif %}

<body onload="prettyPrint()">
<header>
    <h1 class="title">
        {% if author %}
            <a href="{{ url_for('get_author_posts', author=author.username) }}">
                {{ author.username }}
            </a>
            <a class="rss" href="{{ url_for('get_author_feed', author=author.username) }}"><img class="rss r-icon" src="{{ url_for('static', filename='img/glyphicons_397_rss.png') }}" title="RSS" /></a>
        {% else %}
            <a href="{{ url_for('index') }}">
                {{ config.BLOG_NAME }}
            </a>
            <a class="rss" href="{{ url_for('feed') }}"><img class="rss r-icon" src="{{ url_for('static', filename='img/glyphicons_397_rss.png') }}" title="RSS"/></a>
        {% endif %}
    </h1>
    {% if author %}
        <ul>
            {% if author.gravatar_url %}
                <li class="gravatar"><a href="{{ url_for('get_author_posts', author=author.username) }}"><img src="{{ author.gravatar_url }}" title="{{ author.username }}"/></a></li>
                <br />
            {% endif %}
            {% if author.github %}
                <li><img src="{{ url_for('static', filename='img/glyphicons_381_github.png') }}" class="r-icon" title="Github" />&nbsp;<a href="https://github.com/{{ author.github }}/">Github</a></li>
            {% endif %}
            {% if author.linkedin %}
                <li><img src="{{ url_for('static', filename='img/glyphicons_377_linked_in.png') }}" class="r-icon" title="LinkedIn" />&nbsp;<a href="http://www.linkedin.com/in/{{ author.linkedin }}/">LinkedIn</a></li>
            {% endif %}
            {% if author.email %}
                <li><img src="{{ url_for('static', filename='img/glyphicons_399_e-mail.png') }}" class="r-icon" title="Email" />&nbsp;<a href="mailto:{{ author.email }}?subject:Howdy">Email</a></li>
            {% endif %}
            {% if author.stackoverflow %}
                <li><a href="http://stackoverflow.com/users/{{ author.stackoverflow }}">Stack Overflow</a></li>
            {% endif %}
        </ul>
    {% elif authors %}
        <div id="authors">
            <ul>
                <li>
                    {% for author in authors %}
                        {% if author.gravatar_url %}
                            <div class="gravatar"><a href="{{ url_for('get_author_posts', author=author.username) }}"><img src="{{ author.gravatar_url }}" title="{{author.username}}"/></a></div>
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
    {% endif %}
    {% block sidebar %}{% endblock %}
    <span class="powered-by">
      Backed by <a href="http://github.com/bitrot/simple-multiblog">Simple-Multiblog</a>
      <br />
      Based off of <a href="http://github.com/orf/simple">Simple</a>
      <br />
      Icons by <a href="http://glyphicons.com">GlyphIcons</a>
    </span>

</header>

<div id="container">
    <time>
        <a href="{{ url_for('index') }}">{{ config.BLOG_NAME }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;

        {% if post %}
            Posted {{ post.created_at.strftime('%B %d, %Y') }} by {{ post.author.username }}
            {% if post.created_at.strftime('%B %d, %Y') != post.updated_at.strftime('%B %d, %Y') %}
                - Updated {{ post.updated_at.strftime('%B %d, %Y') }}
            {% endif %}
            {% if 'user_name' in session %}
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('admin') }}">Logged in</a> {{ session['user_name'] }}
                &nbsp;(<a href="{{ url_for('logout') }}">Logout</a>)
            {% endif %}
        {% else %}
            {{ now.strftime('%B %d, %Y') }}
            {% if 'user_name' in session %}
                &nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ url_for('admin') }}">Logged in</a> {{ session['user_name'] }}
                &nbsp;(<a href="{{ url_for('logout') }}">Logout</a>)
            {% endif %}
        {% endif %}
    </time>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>

{% if config['ANALYTICS_ID'] and config['DOMAIN_NAME'] %}
    <!-- Google Analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ config["ANALYTICS_ID"] }}']);
        _gaq.push(['_setDomainName', '{{ config["DOMAIN_NAME"] }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endif %}

</body>
</html>