{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block sidebar %}
    <br />
    Views: {{ post.views }}
{% endblock %}

{% block content %}
    <section id="post-{{ post.id }}">
        <div class="post contain">
            <h1>{{ post.title }}</h1>
            {{ post.render_content()|safe }}
            {% if is_admin %}
                <ul class="actions">
                    <li><a href="{{ url_for('edit', post_id=post.id) }}">Edit</a></li>
                </ul>
            {% endif %}
            {% if config.DISQUS_SHORTNAME %}
                {% set disqus_ident = post.slug + '-' + post.author.username %}
                {% set disqus_url = config.BLOG_URL + url_for('get_author_slug', author=post.author.username, slug=post.slug) %}

                <div id="disqus_thread"></div>

                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = "{{ config.DISQUS_SHORTNAME }}";
                    var disqus_identifier = "{{ disqus_ident }}";
                    var disqus_url = "{{ disqus_url }}";
                    var disqus_developer = 1; // 1 == developer mode is on

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>

                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            {% endif %}
        </div>

        <a class="button space-top" href="{{ url_for('get_author_posts', page=pid, author=post.author.username) }}">Back to Blog</a>

    </section>
{% endblock %}